$content-width: 1280px;
$content-widthXl:1100px;
$content-widthLg:992px;
$content-widthMd:767px;
$content-widthSm:500px;
$transition: .3s;

$black-text-color: #121926;
$primary-text-color: #3C2769; 
$secondary-text-color: #697586; 
$tertiary-text-color: #202939; 

$bg-primary: #3C2769;
$bg-secondary: #EDEBF7;
$bg-silver: #F3F5F7;
$bg-btn: #d32f60;
$bg-btn-hover: #b03258;



