@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.btn-primary, .btn-secondary, .btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  cursor: pointer;
  text-decoration: none; }

.btn-primary {
  background: white;
  color: #202939;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #CDD5DF; }
  .btn-primary:hover {
    border-color: #a9b0b9;
    transition: 0.3s; }

.btn-secondary {
  background: #d32f60;
  color: white;
  font-size: 16px;
  line-height: 24px; }
  .btn-secondary:hover {
    background: #b03258;
    transition: 0.3s; }

.btn-link {
  color: #121926; }
  .btn-link::after {
    content: "\276F";
    display: inline-block;
    margin-left: 5px; }

* {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #202939; }

html, body {
  overflow-x: hidden; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

@media (max-width: 1280px) {
  .container {
    max-width: 1100px; } }
@media (max-width: 1100px) {
  .container {
    max-width: 992px; } }
@media (max-width: 992px) {
  .container {
    max-width: 767px; } }
@media (max-width: 767px) {
  .container {
    max-width: 500px; } }
.buttons__container {
  display: flex;
  gap: 8px; }

.section {
  padding: 80px 0; }
  .section__badge {
    max-width: max-content;
    margin: 0 auto 14px;
    padding: 4px 12px;
    color: #3C2769;
    background: #EDEBF7;
    border-radius: 24px; }
  .section__title {
    font-size: 48px;
    line-height: 54px;
    color: #202939;
    margin-bottom: 28px;
    text-align: center; }
  .section__desc {
    font-size: 18px;
    line-height: 28px;
    color: #697586;
    text-align: center; }

@media (max-width: 767px) {
  .section {
    padding: 60px 0; }
    .section__title {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 18px;
      text-align: center; } }
@media (max-width: 500px) {
  .section__badge {
    margin-bottom: 10px; }
  .section__desc {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 18px;
    text-align: center; } }
.header {
  padding: 14px 0; }
  .header .navbar {
    padding: 0; }
    .header .navbar .collapse {
      justify-content: space-between; }
  .header .nav-item:not(:last-child) {
    margin-right: 32px; }
  .header .nav-link {
    padding: 0;
    color: #697586; }
    .header .nav-link:hover {
      color: #202939;
      transition: 0.3s; }
  .header__logo {
    font-size: 32px;
    font-weight: bold;
    color: #3C2769;
    text-decoration: none; }
  .header__head {
    padding: 14px 0;
    background: #6244a3;
    text-align: center; }
    .header__head span,
    .header__head a {
      font-size: 14px;
      color: white;
      line-height: 21px; }
    .header__head a {
      text-decoration: none;
      margin-left: 4px;
      cursor: pointer; }
  .header .btn-cart {
    padding: 9px 21px;
    gap: 3px; }
  .header .btn-subscribe {
    padding: 9px 21px; }

.banner-section {
  padding: 20px 0;
  background: #EDEBF7; }
  .banner-section__content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px; }
  .banner-section .text-content {
    margin-top: 60px; }
    .banner-section .text-content__title {
      font-size: 56px;
      line-height: 68px;
      margin-bottom: 28px;
      color: #3C2769;
      max-width: 470px; }
    .banner-section .text-content__desc {
      font-size: 20px;
      line-height: 30px;
      color: #3C2769;
      font-weight: 400;
      max-width: 544px;
      margin-bottom: 40px; }
    .banner-section .text-content a {
      padding: 17px 33px; }
  .banner-section .image-content {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center; }
    .banner-section .image-content img {
      width: 100%; }

@media (max-width: 1100px) {
  .banner-block .text-content {
    margin-top: 40px; }
    .banner-block .text-content__title {
      font-size: 48px;
      line-height: 48px; }
    .banner-block .text-content__desc {
      font-size: 16px;
      line-height: 24px; }
  .banner-block .image-content {
    max-width: 400px; } }
@media (max-width: 992px) {
  .banner-block .buttons__container {
    justify-content: start; }
  .banner-block .image-content {
    max-width: 350px; } }
@media (max-width: 767px) {
  .banner-section__content {
    display: flex;
    flex-direction: column; }
  .banner-section .text-content__title {
    font-size: 44px;
    line-height: 44px;
    text-align: center; }
  .banner-section .text-content__desc {
    margin-bottom: 20px;
    text-align: center; }
  .banner-section .text-content a {
    padding: 17px 33px; }
  .banner-section .buttons__container {
    justify-content: center; }
  .banner-section .image-content {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center; }
    .banner-section .image-content img {
      width: 100%; } }
.about-us.section {
  padding-top: 160px; }
.about-us .section__desc {
  max-width: 740px;
  margin: 0 auto 40px; }
.about-us .buttons__container {
  gap: 14px;
  justify-content: center; }
  .about-us .buttons__container a:nth-child(1) {
    padding: 17px 33px; }

@media (max-width: 767px) {
  .about-us .section__desc {
    margin-bottom: 20px; } }
.sellers .section__title {
  max-width: 750px;
  margin: 0 auto 80px; }
.sellers__items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 48px; }
.sellers .item {
  padding-top: 45px;
  max-width: 395px;
  background: #F3F5F7;
  border-radius: 16px; }
  .sellers .item__info {
    padding: 24px 16px; }
  .sellers .item__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px; }
  .sellers .item__name {
    font-size: 20px;
    line-height: 28px; }
  .sellers .item__price {
    color: #697586;
    line-height: 24px; }
  .sellers .item__desc {
    color: #697586;
    font-size: 13px;
    line-height: 21px; }
  .sellers .item .btn-primary {
    width: 100%;
    padding: 17px 10px;
    margin-top: 24px; }
.sellers__categories {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 32px; }
.sellers .category {
  background: #F3F5F7;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px; }
  .sellers .category__head {
    padding: 64px 48px;
    text-align: center; }
  .sellers .category__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 28px; }
  .sellers .category__desc {
    color: #697586;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 37px; }
  .sellers .category .btn-primary {
    padding: 9px 21px;
    max-width: fit-content;
    margin: 0 auto; }

@media (max-width: 992px) {
  .sellers__categories {
    gap: 20px; }
  .sellers .category__head {
    padding: 32px 14px; }
  .sellers .category__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px; }
  .sellers .category__desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 28px; } }
@media (max-width: 767px) {
  .sellers .section__title {
    margin: 0 auto 40px; }
  .sellers__items {
    flex-direction: column; }
  .sellers .item {
    margin: 0 auto; }
  .sellers__categories {
    grid-template-columns: 1fr; } }
.works .section__desc {
  max-width: 744px;
  margin: 0 auto; }
.works__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px;
  margin-top: 80px; }
.works__item {
  max-width: 394px;
  text-align: center; }
.works__img {
  max-width: 100px;
  margin: 0 auto 30px; }
.works__title {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 26px; }
.works__desc {
  color: #697586;
  font-size: 16px;
  line-height: 24px; }

@media (max-width: 992px) {
  .works__item {
    max-width: 300px; } }
.fqa {
  padding-bottom: 160px;
  background: #F3F5F7; }
  .fqa__content {
    display: flex;
    justify-content: space-between;
    gap: 30px; }
  .fqa__info {
    width: 100%;
    max-width: 510px;
    text-align: left; }
  .fqa .btn-secondary {
    max-width: fit-content;
    padding: 17px 33px; }
  .fqa .section__title, .fqa .section__desc {
    text-align: left; }
  .fqa .section__desc {
    margin-bottom: 38px; }
  .fqa__accordion {
    display: grid;
    width: 100%;
    max-width: 685px;
    gap: 16px; }
    .fqa__accordion .accordion-item {
      border-radius: 8px;
      overflow: hidden;
      border: none; }

@media (max-width: 992px) {
  .fqa__content {
    display: flex;
    flex-direction: column;
    gap: 50px; }
  .fqa__info {
    max-width: none; }
  .fqa .section__desc {
    margin-bottom: 18px; }
  .fqa__accordion {
    max-width: none; } }
@media (max-width: 767px) {
  .fqa {
    padding-bottom: 120px; } }
.footer__content {
  display: flex;
  justify-content: space-between; }
.footer .subscribe-form {
  display: flex; }
  .footer .subscribe-form__wrapper {
    width: 100%;
    max-width: 480px; }
    .footer .subscribe-form__wrapper .form__desc {
      font-size: 16px;
      line-height: 24px;
      color: #697586;
      margin-bottom: 22px;
      max-width: 410px; }
  .footer .subscribe-form .input {
    border: 1px solid #CDD5DF;
    border-radius: 8px;
    width: 100%;
    max-width: 320px;
    margin-right: 16px;
    padding: 10px 10px 10px 20px; }
  .footer .subscribe-form .btn-secondary {
    padding: 17px 33px;
    border: none; }
.footer__nav {
  width: 100%;
  max-width: 590px;
  display: flex;
  justify-content: end;
  gap: 40px; }
  .footer__nav-item-title {
    line-height: 24px;
    margin-bottom: 24px; }
  .footer__nav-item-list {
    padding: 0;
    margin: 0; }
    .footer__nav-item-list li:not(:last-child) {
      margin-bottom: 16px; }
    .footer__nav-item-list li a {
      display: block;
      text-decoration: none;
      color: #697586;
      font-size: 13px;
      line-height: 21px; }

@media (max-width: 1100px) {
  .footer .subscribe-form__wrapper {
    max-width: 400px; }
  .footer__nav {
    gap: 30px; } }
@media (max-width: 992px) {
  .footer__content {
    gap: 50px; }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 2fr); } }
@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    gap: 70px; }
  .footer .subscribe-form__wrapper {
    max-width: none; }
  .footer__nav {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 2fr); } }

/*# sourceMappingURL=index.css.map */
